* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    cursor: default;
}

#flex-container {
    height: 100%;
    display: flex;
}

#main {
    background: url('john-price-RAZQiZOX3mU-unsplash.jpg') no-repeat fixed;
    background-position: center;
    background-color: rgb(30, 35, 40, 0.6);
    background-size: cover;
    background-blend-mode: soft-light;
    flex-basis: 65%;
    line-height: 2em;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 180px 30px 0;
}

#main button {
    margin-top: 20px;
    background-color: #1e2328;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

#side-scroll {
    flex-basis: 35%;
    background-color: #1e2328;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    overflow-y: scroll;
}

#side-scroll ul li {
    margin: 20px 60px;
    list-style: none;
    background-color: #f8bb12;
    padding: 15px;
    border-radius: 10px;
    color: black;
    font-size: 14px;
}

#side-scroll li a {
    display: block;
    margin: 15px auto 0;
    padding: 8px 10px;
    background-color: #1e2328;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    text-decoration: none;
    width: 120px;
}

@media screen and (max-width:760px) {
    body {
        overflow-y: scroll;
    }
    #main {
        padding-top: 80px;
    }
    #main p {
        text-align: justify;
    }

    #main, #side-scroll {
        height: fit-content;
        padding-bottom: 50px;
    }
    #flex-container {
        display: block;
    }
}